@media all and (max-width: 1000px) {
    .lesson {
      width: 45%;
      margin-bottom: 50px;
    }
    .container-form{
      max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
      }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
  }
  
  @media all and (max-width: 670px) {
    .lesson {
      width: 90%;
      margin-bottom: 50px;
    }

    .container-form .content .category{
      flex-direction: column;
    }
  }